html {
    position: relative;
    min-height: 100%;
    font-family: 'Varela Round', sans-serif;
}
header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
}

.square {
    width: 150px;
    height: 150px;
    border: 1px black solid;
    font-size: 100px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

